Support generating uri params from builder

This may already be possible and I just haven't figured it out, but it would be very useful (for example for the evernote API https://dev.evernote.com/doc/articles/authentication.php) to be able to generate a uri + query string rather than an auth header for the purposes of fetching a token for APIs that expect the oauth params in this fashion.  Seems like this is something the lib supports for regular requests but not token fetching?

I was not aware of a server that mandates the OAuth parameter transmission method of request URI query ([RFC 5849 section 3.5.3.]) when I implemented `serializer::Urlencoder` and I was too lazy to implement it, but I think it is a nice feature to have.

I think this can be implemented either by extending `serializer::Urlencoder` to have a option to include `oauth_*` parameters in the query or by adding a new type that implements `Serializer` trait.

[RFC 5849 section 3.5.3.]: <https://datatracker.ietf.org/doc/html/rfc5849#section-3.5.3>

Well, it's been almost a year... and the API for generating `oauth_*` query parameter has finally been released as [v0.6.0]. Sorry for the delay!

[v0.6.0]: <https://github.com/tesaguri/oauth1-request-rs/releases/tag/v0.6.0>